*.o
*.bin
*.lzo
*.srec
*.exe
*.elf
*.asm
*.map
*.raw
*.cdi
*.DS_Store
.vscode/
example-src/console-test
example-src/exception-test
example-src/gethostinfo
target-src/dcload/dcload
target-src/dcload/exception
host-src/tool/dc-tool-ip
